#main {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

#background-image {
    position: fixed;
  object-fit: cover;
  min-width: 100%;
  object-position: -1100px 0;
}

#content-container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
  "header"
  "survey"
  "footer" ;
  z-index: 1;
  bottom: 0;
  top: 0;
}

#header-container {
  
    grid-area: header;
    padding: 10%;
}

#header h1 {
    position: sticky;
}

#header {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "logo h1"
  "pd pd";
}

#gonowlogo {
    grid-area: logo;
    width: 100px;
}

h1 {
    grid-area: h1;
    width: 1fr;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
}

#description {
    padding-top: 7%;
    grid-area: pd;
    width: 100%;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
}


/* ------survey form------ */

#form-container{
    grid-area: survey;
}


#form-background {
    border-radius: 25px 25px 0 0;
    padding: 5%;
}

label {
    font-weight: 300;
}

input {
    width: 100%;
}
