/* ----fonts----- */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
:root {
  --main-font-fam: "Oswald", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



