/* ----fonts----- */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
:root {
  --main-font-fam: "Oswald", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-family: var(--main-font-fam);
  text-transform: uppercase;
}

#description {
  font-family: var(--main-font-fam);
  color: #fff;
}

/* -----------survey----------- */
label {
  font-family: var(--main-font-fam);
  display: block;
  font-size: 1em;
  color: #fff;
}

input {
  font-family: var(--main-font-fam);
  font-weight: 300;
  font-style: italic;
  font-size: 1em;
  padding: 2%;
  border-radius: none;
  margin-top: 3%;
  margin-bottom: 3%;
  color: #000;
}

#form-background {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0 0;
  padding: 5%;
}

select {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  font-family: var(--main-font-fam);
  font-size: 1em;
  padding: 2%;
}

#radio-container1,
#radio-container2,
#radio-container3,
#radio-container4,
#radio-container5 {
  width: 100%;
  padding-left: 10%;
}

input[type="radio"] {
  opacity: 0;
  padding: 0;
  margin: 0;
}

input[type="radio"] + label {
  padding-left: 9%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  line-height: 1.3em;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 2px;
  top: 2px;
  border-radius: 100%;
  background: #ff6600;
  opacity: 1;
  transform: scale(1);
  transition: 0.3s ease;
}

input[type="radio"]:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 2px;
  top: 2px;
  border-radius: 100%;
  background: #ff6600;
  opacity: 0;
  transform: scale(0);
}

#inputcontent5:last-child {
  padding-bottom: 3%;
}

/* ------------checkbox-area------------ */
#checkbox-label {
    padding-top: 3%;
}

#checkbox-container1, #checkbox-container2, #checkbox-container3, #checkbox-container4, #checkbox-container5{
    width: 100%;
  padding-left: 10%;
}

small {
  font-family: var(--main-font-fam);
  color: #fff;
  font-weight: 200;
  font-style: italic;
}

input[type="checkbox"] {
  opacity: 0;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] + label {
  padding-left: 10%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  line-height: 1.3em;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 3px;
  top: 0;
  border: 2px solid #fff;
  background: #fff;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    left: 4px;
    top: 2.5px;
    clip-path: polygon(79% 0, 100% 15%, 59% 94%, 42% 95%, 8% 51%, 26% 41%, 48% 64%);
    background: #ff6600;
    opacity: 1;
    transform: scale(1);
    transition: 0.3s ease;
  }

  input[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    left: 4px;
    top: 2.5px;
    clip-path: polygon(79% 0, 100% 15%, 59% 94%, 42% 95%, 8% 51%, 26% 41%, 48% 64%);
    background: #ff6600;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
  }

  #inputcontent6:last-child {
    padding-bottom: 3%;
  }